apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: chatflow
  labels:
    app: frontend
spec:
  replicas: 2              # Run 2 frontend pods
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: arsalananwer0/chatflow-frontend:latest   # We'll push this to DockerHub
        ports:
        - containerPort: 80
          name: http
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"